<html lang="en" xmlns:th="http://www.thymeleaf.org">

<p></p>
<table th:each="item:${m_specialization}" class="table">
	<tr>
		<td align="center">
			<p>Apakah Anda Akan Menghapus</p>
			<p th:text="${item.Name}"><p/>
		</td>
	</tr>
	<tr>
		<td align="center">
		<button onclick="javasript:window.open('/m_specialization/index','_self')" class="btn btn-primary">Cancel</button>
		<button th:value="${item.Id}" onclick="del(this.value)" class="btn btn-danger">Delete</button>
		</td>
	</tr>
</table>

<script>
function del(id){
	window.open('/m_specialization/del/'+id,'_self')
}
</script>

</html>