<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmyeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
	<title>MINIPROJECT289</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Specialization Page</h1>
		
		<p align="right">
			<button onclick="addform()" class="btn btn-success">+ Specialization</button>
		</p>

		<table class="table table-striped table-hover" id="Table">
			<thead>
				<tr>
					<th style="text-align:center;">Name</th>
					<th style="text-align:center;">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listspec}">
					<td th:text="${item.Name}"></td>
					<td align="center">
						<button th:value="${item.Id}" onclick="editform(this.value)" class="btn btn-labeled btn-warning">
							<span class="btn-label"><i class="fa fa-pencil"> Edit</i></span>
						</button>
						<button th:value="${item.Id}" onclick="deleteform(this.value)" class="btn btn-labeled btn-danger">
							<span class="btn-label"><i class="fa fa-trash"> Delete</i></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<script>
		
		$(document).ready( function () {
	    	$('#Table').DataTable();
		});
		
		function editform(id){
			$.ajax({
				url:'/m_specialization/edit/'+id,
				type:'get',
				contentType:'html',
				success:function(result){
					console.log(result)
					$("#mymodal").modal('show')
					$(".modal-title").html('Ubah Spesialis')
					$(".modal-body").html(result)
				}
			})
		}
		function deleteform(id){
			$.ajax({
				url:'/m_specialization/deleteform/'+id,
				type:'get',
				contentType:'html',
				success:function(result){
					console.log(result)
					$("#mymodal").modal('show')
					$(".modal-title").html('Hapus Spesialis')
					$(".modal-body").html(result)
				}
			})
		}	
		function addform(){
		$.ajax({
			url:'/m_specialization/form',
			type:'get',
			contentType:'html',
			success:function(result){
				console.log(result)
				$("#mymodal").modal('show')
				$(".modal-title").html('Tambah Spesialis')
				$(".modal-body").html(result)
				}
			})
		}	
		</script>
	</div>
</body>
</html>