#lokasi, #nameDoctor, #spesialisasi, #tindakan{
	border-color: #1ba3e4;
	border-radius: 8px;
}

#inDokterMsg{
	text-align: right;
    display: none;
    color: red;
    width: 100%;
    font-size: 12px;
}

#spesialisasiMsg{
	position: absolute;
    display: none;
    color: red;
    right: 4%;
    top: 69%;
    font-size: 12px;
}

#inId{
    display: none;
}

