.img-circle {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
.btnEditt{
	position: absolute;
	width: 15%;
	bottom: 22%;
	right: 17%;
}

