body{
    background-color:#F0F0F0;
    }
    .main-section{
    background-color: #f1f1f1;
    padding: 20px;
    margin-top:25px;
    }
    .product{
    margin-bottom:5px;
	margin-left: 90px;

    }
    .product-part{
    margin:0px;
    border:1px solid #DDDDDD;
    background-color: #fff;
    padding-bottom: 20px;
    }
    .img-section{
    padding: 0px;
    }
    .img-section img{
    width: 100%;
    }
    .product-title h1{
    margin:0px;
    color:#4C4C4C;
    font-size:23px;
    padding: 5px 0px;
    }
    .product-description{
    padding: 3px 15px;
    }
    .product-description p{
    color:#848484;
    }
    .product-cart p{
    font-size:20px;
    color:#4C4C4C;
    }
    .product-add-cart a{
    border-radius:0px;
    font-size: 11px;
    }
    .borrderless td, borderless th{
	border:none;
}